.container {
  min-width: 14.5rem;
  min-height: 5.9rem;
  color: #314d3e;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.2rem 0.5rem 0rem 0.5rem;
}

.label {
  display: block;
}

.userLogin {
  padding-left: 0.5rem;
  display: block;
}

.switch-container {
  display: flex;
  align-items: center;
}

.loggedUsername {
  font-size: medium;
  display: block;
  padding-bottom: 0.7rem;
  padding-top: 0.3rem;
}

.usernameInput {
  margin-bottom: 0.3rem;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: block;
  padding-left: 0.5rem;
  width: 2rem;
  height: 1.25rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0.5rem;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 0.75rem;
  width: 0.75rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:checked + .slider {
  background-color: #e4b990;
}

input:focus + .slider {
  box-shadow: 0 0 0.0625rem #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(0.75rem);
  -ms-transform: translateX(0.75rem);
  transform: translateX(0.75rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 2.25rem;
}

.slider.round:before {
  border-radius: 50%;
}
